<div class="small-section valign-wrapper">
	<div class="container valign center">
		<p>Si votre produit n'est pas dans la liste, vous pouvez l'ajouter <%= link_to "ici", new_product_path, class: "btn btn-primary" %></p>
	</div>
</div>

<div class="section">
	<div class="container">
		<%= simple_form_for(@user_product, url: user_products_path) do |f| %>
		  <%= render "form", f: f %>
		<% end %>
	</div>
</div>
