<div id="about">
	<div class="large-section valign-wrapper">
		<h3 class="valign center" style="width:100%"> À Propos de Workiz </h3>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col s8 offset-s2">
					<h4> La société </h4>
					<p> Workiz est le fruit d'années de réflexion, de mois d'apprentissages et recherches, de milliers de tasses de cafés (canettes de coca), et de centaines de blocs post-its. Née de frustrations lors de la recherche de revenus parallèles à ses études ou de la complexité de la recherche du job de ses rêves, François imagine un service qui lui permettrait d'utiliser les compétences qu'il accumule, de les mettre en évidence, et de trouver une offre matchant le tout avec ses envies.
					</p>
					<p> Finalement, en janvier 2015, Workiz voit le jour. En constante évolution, l'équipe se soude, et la solution évolue vers un service reposant sur un algorithme répondant au mieux au besoin des entreprises & des étudiants.</p>
					<h4> Chiffres</h4>
					<div class="row center">
						<div class="col s12 m6 l6">
							<div class="card-panel white">
								<i class="fa fa-building fa-3x"></i>
								<h6> Nombre d'entreprises</h6>
								<h5> 250+</h5>
							</div>
						</div>
						<div class="col s12 m6 l6">
							<div class="card-panel white">
								<i class="fa fa-send-o fa-3x"></i>
								<h6> Offres postées</h6>
								<h5> 1400+</h5>
							</div>
						</div>
						<div class="col s12 m6 l6">
							<div class="card-panel white">
								<i class="fa fa-users fa-3x"></i>
								<h6> Nombre d'étudiants</h6>
								<h5> 5000+</h5>
							</div>
						</div>
						<div class="col s12 m6 l6">
							<div class="card-panel white">
								<i class="fa fa-institution fa-3x"></i>
								<h6> Ecole représentées</h6>
								<h5> 150+</h5>
							</div>
						</div>
					</div>
					<h4> Informations sur l'entreprise</h4>
					<p>
						Workiz SAS 
						<br> 28 boulevard beaumarchais
						<br> 75011 Paris
						<br> France
					</p>
					<p> 
						<strong>Conseil d'administration :</strong>
					</p>
					<p>
						<strong class="strong">Numéro de TVA:</strong>
					</p>
					<p>
						<strong class="strong">Numéro d'immatriculation:</strong>
					</p>
					<!-- <h4> Partenaires</h4>
					<p>Ils nous soutiennent et nous encouragent :)</p>
					<div class="row center">
						<div class="col s12 m6 l3">
							<i class="large material-icons">language</i>
						</div>
						<div class="col s12 m6 l3">
							<i class="large material-icons">language</i>
						</div>
						<div class="col s12 m6 l3">
							<i class="large material-icons">language</i>
						</div>
						<div class="col s12 m6 l3">
							<i class="large material-icons">language</i>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>