<li><%= link_to(faq_path) do %>FAQ<i class="left material-icons icon-submenu">question_answer</i><% end %></li>
<li><span><%= button_to(destroy_user_session_path, method: :delete, class: "btn") do %>Déconnexion<i class="left material-icons icon-submenu">power_settings_new</i><% end %></span></li>
